body {
    background: linear-gradient(90deg, rgba(0, 172, 240, 0.703) 0%, rgba(0, 171, 165, 0.712) 50%, rgba(4, 181, 46, 0.744) 100%);
    padding: 20px;
    
}



.header {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    justify-self: center;
    margin: 10px;
    color: rgb(201, 236, 0);
    width: 300px;
    height: auto;
    border: 5px rgba(65, 0, 129, 1) solid;
    border-radius: 30px;
    background-image: url(https://www.nintendo.com/eu/media/images/10_share_images/games_15/nintendo_switch_4/H2x1_NSwitch_SuperSmashBrosUltimate_02_image1280w.jpg);
    background-size: 75%;
    background-position: top;
    -webkit-text-stroke: 1px #019203;
}
.header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
}

.txt {
    filter: brightness(1);
}




h1 {
    filter: brightness(1);
    align-items: center;

}

.btn {
    justify-self: center;
    display: flex;
    justify-content: center;
    width: 75vw;
}

.game1 {
    display: grid;
    margin: 10px;
    width: 100px;
    height: 100px;
    background-position: center;
    align-items: center;
    justify-items: center;
    font-size: medium;
    background-image: url(https://image.api.playstation.com/vulcan/ap/rnd/202407/0401/670c294ded3baf4fa11068db2ec6758c63f7daeb266a35a1.png);
    background-size: cover;
    border-radius: 20px;

}

.game2 {
    display: grid;
    margin: 10px;
    width: 100px;
    height: 100px;
    background-position: center;
    align-items: center;
    justify-items: center;
    font-size: medium;
    background-image: url(https://image.api.playstation.com/vulcan/ap/rnd/202406/0500/8f15268257b878597757fcc5f2c9545840867bc71fc863b1.png);
    background-size: cover;
    border-radius: 20px;
}

.game3 {
    display: grid;
    margin: 10px;
    width: 100px;
    height: 100px;
    background-position: center;
    align-items: center;
    justify-items: center;
    justify-self: center;
    font-size: medium;
    background-image: url(https://assets.nintendo.eu/image/upload/f_auto,c_limit,w_992,q_auto:low/MNS/NOE/70010000000126/SQ_NSwitch_MarioKart8Deluxe);
    background-size: cover;
    border-radius: 20px;

}

.game4 {
    display: grid;
    margin: 10px;
    width: 100px;
    height: 100px;
    background-position: center;
    align-items: center;
    justify-items: center;
    font-size: medium;
    background-image: url(https://assets1.ignimgs.com/2019/05/17/pokemon-y---button-1558057648001.jpg?crop=1%3A1%2Csmart&format=jpg&auto=webp&quality=80);
    background-size: cover;
    border-radius: 20px;
}

.game5 {
    display: flex;
    margin: 10px;
    width: 100px;
    height: 100px;
    background-position: center;
    align-items: center;
    justify-items: center;
    font-size: medium;
    background-image: url(https://assets.nintendo.eu/image/upload/f_auto,c_limit,w_992,q_auto:low/MNS/NOE/70010000000023/SQ_NSwitch_TheLegendOfZeldaBreathOfTheWild_E);
    background-size: cover;
    border-radius: 20px;
    
}

.Games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
    align-self: center;
    align-content: center;

}

button:hover {
    width: 100px;
    height: 100px;
    transform: scale(1.05);
    filter: brightness(1.1);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.735);
}

.gb {

    padding-left: 2px;
    margin: 10px;
    width: 100px;
    height: 300px;
    border: 1px solid;
    background-image: url(https://img.freepik.com/free-vector/modern-business-background-with-digital-technology-design_1361-3299.jpg?semt=ais_hybrid&w=740&q=80);
    background-position: center;
    border-image: url(https://img.freepik.com/free-vector/modern-business-background-with-digital-technology-design_1361-3299.jpg?semt=ais_hybrid&w=740&q=80);
    color: aquamarine;
    align-items: center;
    justify-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    border-radius: 20px;
}