body {
    background: linear-gradient(90deg, rgba(37, 116, 186, 0.685) 0%, rgba(39, 30, 219, 0.616) 50%, rgba(67, 1, 221, 0.58) 100%);

}

.all {
    width: 100px;
    height: 100px;
}

.header {
    display: flex;
    justify-self: center;
    justify-content: center;
    margin: 10px;
    color: rgb(24, 255, 255);
    width: 300px;
    height: auto;
    border: 5px rebeccapurple solid;
    border-radius: 30px;
}


.games {
    color: gold;
    background-color: rgb(175, 19, 175);
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 2vh;
    justify-self: left;
    align-content: center;
    background-position: center;
    background-size: cover;
}
.Spiele {  
  width: 200px;
  height: 500px; 
  border: teal 3px solid;
  border-radius: 20px;
  background-color: rgb(17, 255, 176);
  color: rgb(30, 20, 220);
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;

  position: sticky;
  top: 0;
  overflow-y: auto; 
margin-left: 1050px;
}
.Spiele::-webkit-scrollbar {
 color: aquamarine;
}
.Tipps{
    width: 600px;
    height: 300px;
    border: 1px solid black;
    margin: 10px;
    
    padding-left: 2px;
}
.blockI{
    display: flexbox;
}
